## Google API

In [1]:
import pandas as pd
import os
import googlemaps 
import win32com.client as win32
from pprint import pprint

In [2]:
# Read the txt file which contains the API key:
API_KEY = open('API_KEY.txt').read()
map_client= googlemaps.Client(API_KEY)

 API queries_quota: 60

In [3]:
# Function to get the info of each brewery place:
def get_place_info(location_name):
    try:
        response= map_client.places(query=location_name)
        results = response.get('results')[0]
        return results
        
        
        
    except Exception as e:
        print(e)
        return None

In [4]:
df_breweries_RB = pd.read_csv("./Data/RateBeer/breweries_API_test.csv")

df_breweries_RB.rename(columns={"id": "brewery_id"}, inplace=True)

In [5]:
df_breweries_RB['longitude'] = "NA"
df_breweries_RB['latitude'] = "NA"

In [6]:
df = df_breweries_RB.copy()

In [7]:
df.head(20)

,brewery_id,location,name,nbr_beers,longitude,latitude
0,39912,Kyrgyzstan,Abdysh-Ata (Абдыш Ата),5,NA,NA
1,39913,Kyrgyzstan,Arpa (АРПА),1,NA,NA
2,39914,Kyrgyzstan,Bear Beer,4,NA,NA
3,39915,Kyrgyzstan,Blonder Pub,4,NA,NA
4,39916,Kyrgyzstan,Kellers Bier,2,NA,NA
5,16051,Kyrgyzstan,Pivzavod Uzgen,0,NA,NA
6,16052,Kyrgyzstan,Steinbrau Pub,4,NA,NA
7,39917,Kyrgyzstan,Usu-Salkin Pivo,3,NA,NA
8,37262,Gabon,Societe des Brasseries du Gabon (SOBRAGA),1,NA,NA
9,10093,Northern Ireland,Strangford Lough Brewing Company Ltd,5,NA,NA
10,32848,Northern Ireland,The Sheelin Brewery,4,NA,NA
11,297,Northern Ireland,Thomas Caffrey Brewing Co.,2,NA,NA
12,40360,Northern Ireland,Walled City Brewing Company,6,NA,NA
13,3415,Northern Ireland,Whitewater Brewing Co,21,NA,NA
14,40309,Northern Ireland,Ards Brewing Company,7,NA,NA
15,41205,Northern Ireland,Barrahooley Brewery,3,NA,NA
16,40307,Northern Ireland,Boundary Brewing Cooperative,36,NA,NA
17,41340,Northern Ireland,Brewbot,0,NA,NA
18,45082,Northern Ireland,Bullhouse Brewing Company,6,NA,NA
19,19223,Northern Ireland,Clanconnel Brewing Company,6,NA,NA

In [8]:
# Example of a query request
"".join([df['name'][0], " "+df['location'][0]])

'Abdysh-Ata (Абдыш Ата) Kyrgyzstan'

In [ ]:
# Using google API, get the rating, the number of ratings, the latitude and longitude
# of each brewery, we wont run the code here because it takes a lot of time
# We created an excel with the results.

# LastRow = len(df_breweries_RB)

for i in range(2, 22):#LastRow+1):
    
    try:
        place_info = get_place_info("".join([df['name'][i-2], " "+df['location'][i-2]]))
        

        df['longitude'][i-2] = place_info['geometry']['location']['lat']
        df['latitude'][i-2] = place_info['geometry']['location']['lng']
    except (KeyError, NameError, TypeError):
        pass

wb = None
wsList = None
xlApp = None

C:\Users\Poseidon\AppData\Local\Temp\ipykernel_10484\3449804935.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['longitude'][i-2] = place_info['geometry']['location']['lat']
C:\Users\Poseidon\AppData\Local\Temp\ipykernel_10484\3449804935.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['latitude'][i-2] = place_info['geometry']['location']['lng']

list index out of range

# We can see that longitude and latitude coordinates were added

In [ ]:
df.head(20)